%h2
  Shops List

= link_to 'Add New Shop', new_shop_path, class: 'btn btn-primary'

%table.table#shops-list
  %thead
    %tr
      %th Name
      %th Street
      %th Postal Code
      %th City
      %th Actions
  %tbody
    - unless @shops.empty?
      - @shops.each do |shop|
        %tr
          %td
            = shop.name
          %td
            = shop.street
          %td
            = shop.postal_code
          %td
            = shop.city
          %td