!!! 5
%html
  %head
    %title ProductsSearcher
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    .container
      - if notice
        .alert.alert-success
          = notice
      = yield

    = javascript_include_tag 'application'
    = yield :scripts
